*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Amazon Ember", Arial, sans-serif;
    background-color: #e3e6e6;
}

.navbar{
     display: flex;
     height: 50px;
     background-color: #131921;
     color: white;
     font-size: 14px;
     justify-content: space-evenly;
     padding-top: 10px;
}
.logo img{
    height: 50px;
    width: 100%;
}

.map{
    display: flex;
    flex-direction: column;
}
.map_part1{
    padding-left: 18px;
    font-size: 12px;
    color: #cccccc;
    font-weight: 500;
}
.map_part2{
    display: flex;
    font-weight: 600;
}
.map i{
    font-size: 18px;
}
.search_bar{
    display: flex;
    height: 38px;
    width: 600px;
    border:none;
    
}
.all{
    padding: 5px;
    border-radius: 4px 0px 0px 4px;
    background-color: #e6e6e6;
    color: #6a6868;
    font-size: 12px;
    border:none;
    padding-right: 10px;
}
.search_bar input{
    display: flex;
    flex-grow: 2;
    border:none;
} 

.search_bar i{
    align-items: center;
    display: flex;
    padding: 10px;
    background-color: #febd69;
    justify-content: center;
    font-size: 25px;
    color: black;
    border-radius: 0px 4px 4px 0px;
}
.flag{
    display: flex;
    height: 16px;
    padding-top: 10px;
}
.flag img{
    width: 21px;
    height: 16px;
}
.lang{
    font-weight: 600;
    color: white;
    background-color: #131921;
    border: #131921;
}
.account{
    display: flex;
    flex-direction: column;
}
.account_part2{
    font-weight: 600;
    background-color: #131921;
    color: white;
    border: #131921;
}
.account_part1{
    font-size: 12px;
    padding-left: 5px;
}
.orders{
    display: flex;
    flex-direction: column;
}
.cart i{
    font-size: 40px;
}
.cart1{
    font-weight: 600;
    margin-left: -4px;
}
.navbar_2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width:100%;
    background-color: #232f3e;
    font-weight: 500;
}
.navbar_2 a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.navbar_2 select{
    border: none;
    background-color: #232f3e;
    color: white;
    font-size: 14px;
}

/*main body starts from here*/

main{
    background-color: #e3e6e6;
}
.banner{
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: flex-end;
}
.banner_mssg{
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 30px;
}
.banner_mssg a{
    text-decoration: none;
    font-size: 16px;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.essentials{
    display: flex;
    justify-content: space-evenly;
    padding-right: 25px;
}
.home_appliances{
    width: 427px;
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.image_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sections{
    width:46%;
    margin-top: 10px;
}
.sections p{
    font-size: 12px;
    color:#3f4141;
}
.heading{
    margin-left: 15px;
    padding-bottom: 10px;
}
.explore{
    padding-top: 26px;
    padding-left: 16px;
}
.explore1{
    padding-top: 51px;
    padding-left: 16px;
}
.explore2{
    padding-top: 36px;
    padding-left: 16px;
}
.explore a{
    text-decoration: none;
    color:#3e93a3;
}
.explore1 a{
    text-decoration: none;
    color:#3e93a3;
}
.explore2 a{
    text-decoration: none;
    color:#3e93a3;
}
.horizontal_items{
    padding-top: 20px;
    background-color: white;
    margin-top: 20px;
    margin-left: 39px;
    margin-right: 62px;
}
.horizontal_items_container{
    display: flex;
    justify-content: center;
}
.horizontal_items a{
    text-decoration: none;
    color:#3e93a3;
}
.horizontal_items_container img{
    max-width: 16%;
}
.Relateditems{
    display: flex;
    margin-left: 26px;
    margin-bottom: 10px;
}
.Relateditems a{
    margin-left: 10px;
    margin-top: 4px;
}
.sign_in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 61px;
    margin-left: 40px;
    padding-top: 100px;
}
.Signin_button{
    height: 28px;
    width: 300px;
    position: relative;
    color: #000;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    background-color: #ffcc4a;
    border: none;
    border-radius: 4px;
}
.new_customer a{
    text-decoration: none;
    color: #527185;
}
.personalised{
    line-height: 24px;
    font-size: 14px;
}
.new_customer{
    line-height: 30px;
    font-size: 14px;
}
.Backtotop{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475a;
    color: white;
    font-size: 14px;
    margin-top: 41px;
}
.nav_links{
    display: flex;
    justify-content: space-evenly;
    background-color: #232f3e;
}
.footer_headings{
    display: flex;
    flex-direction: column;
}
.footer_headings p{
    font-weight: 700;
    color:white;
    line-height: 37px;
    padding-top: 60px;
}
.footer_headings a{
    text-decoration: none;
    color:white;
    line-height: 25px;
    font-size: 14px;
}






